@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

h1::before {
    content: "";
    display: block;
    background-color:#4A90E2 ;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 200px 0px 0px 200px;
    top: 12px;
    left: 10px;
}
h1::after {
    content: "";
    display: inline-block;
    background-color:#4A90E2 ;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 0px 200px 200px 0px;
    top: 10px;
    right: 10px;
    
}

